@tailwind base;
@tailwind components;
@tailwind utilities;

form {
    input {
        border-bottom: 1px solid rgb(220 38 40);
        padding-bottom: 2px;
    }

    label {
        padding-right: 25px;
    }
}

input:hover:read-write:enabled {
    padding-bottom: 1px;
    border-bottom: 2px solid rgb(220 38 40);
}
