@tailwind base;
@tailwind components;
@tailwind utilities;

form {
    input {
        border-bottom: 1px solid rgb(220 38 40);
        margin-bottom: 50px;
    }

    label {
        padding-right: 25px;
    }
}

input:hover {
    border-bottom: 2px solid rgb(220 38 40);
}
